.header{
    height: 100vh;
}
.head1{
    height: 100px;
    background-color: rgb(194, 232, 249);
    border: solid;
}
.head2{
    height: 500px;
    background-color: rgb(231, 227, 222);
    display: flex;
    justify-content: space-between;
}
.box1,.box2{
    height: 500px;
    width: 10%;
    border: solid;
    border-top: none;
    border-bottom: none;
}
.box1{
    background-color: pink;
}
.box2{
    background-color: rgb(241, 241, 97);
}
.footer{
    height: 100px;
    background-color: rgb(194, 232, 249);
    border: solid;
}
@media only screen and (min-width:481px) and (max-width:768px){
    .head1{
        height: 80px;
    }
    .head2{
        height: 350px;
        border: solid;
        border-bottom: none;
        border-top: none;
    }
    .box1,.box2{
        height: 175px;
       border: none;
       border-bottom: solid;
        width: 50%;
    }
    .footer{
        height: 80px;
    }
    .box1{
        border-right: solid;
    }
}
@media only screen and (min-width:320px) and (max-width:480px){
    .head2{
        display: flex;
        flex-direction: column;
        width: 100%;
        border: solid;
        border-top: none;
        border-bottom: none;

    }
    .box1,.box2{
        height: 100px;
        width: 100%;
        border: none;
        

    }
    .box1{
        border-bottom: solid;
    }
    .box2{
        border-top: solid;
    }
    .footer{
        width: 100%;
    }
    .head1{
        width: 100%;
    }
}