.box{
    height: 500px;
    width: 80%;
    border: solid;
    background-color: beige;
    margin: 200px;
    position: relative;
    /* overflow: hidden; */
}
.box1{
    height: 100px;
    border: solid;
    
    width: 100px;
    background-color: aquamarine;
    position: absolute;
    right: 460px;
    margin: 10px;
    
}