*{
    margin: 0px;
    padding: 0px;
}
body{
    
    background-image: url(https://i.pinimg.com/originals/85/6b/55/856b55a061ea294cb4b747bfbd2b5de8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#box{
    height: 160px;
    width: 50%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS93zdyJ1I5Cbmd2DGCXlDP2QpKk1U3qtnL2g&s);
    background-repeat: no-repeat;
    border: solid black 2px;
    
}
.box{
    height: 150px;  
    width: 75%;
    background-color: blue;
    border: solid black 2px;
    
}