.mainblock{
    height: 700px;
    margin: 20px;
    background-color: aqua;
}
.header{
    background-color: aquamarine;
    height: 100px;
    display: flex;
    justify-content: center;
}
.body1{
    height: 250px;
    /* background-color: rgb(26, 27, 27); */
    /* border: solid; */
    display: flex;
    
    flex-wrap: wrap;
    margin: 10px;
    
    
}
.intro{
      height: 250px;
      width: 60%;
      /* border: solid; */
      flex: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: aquamarine;
      


}
.body2{
    /* border: solid; */
    flex: 2;
    display: flex;
    flex-direction: column;
    
    
}
.hero{
    /* border: solid; */
    flex: 3;
    
    margin-left: 10px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    

    
    
}
.call{
    /* border: solid; */
    flex: 1;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 201, 32);
    margin-left: 10px;
}
.features{
    height: 100px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}
.body4{
    /* border: solid; */
    display: flex;
    margin: 10px;
  
}
.more{
    /* border: solid; */
    
    flex: 1.5;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    
    
}
.call2{
    /* border: solid; */
    flex: 1;
    margin-left: 10px;
    background-color:  rgb(207, 201, 32);;
    display: flex;
    justify-content: center;
}
.foot{
    background-color: aquamarine;
    padding: 10px;
    display: flex;
    justify-content: center;
}