.div1{
    height: 700px;
    margin: 20px;
    border: solid black;
}
.head{
    height: 100px;
    border: solid black;
    text-align: center;
    width: 95%;
    margin: 0 30px;
    background-color: black;
    color: aliceblue;
    font-size: 50px;
}
.navi{
    height: 20px;
    border: solid black;
    padding: 10px;
    text-align: center;
    margin: 0 30px;
    width: 93.5%;
    background-color: rgb(116, 112, 112);
    color: aliceblue;
}
.main{
    height: 400px;
    border: solid black;
    width: 62%;
    margin: 10px  0 10px 90px ;
    display: inline-block;
    background-color: rgb(221, 215, 215);
    text-align: center;
    
}
.slide{
    height: 400px;
    border: solid black;
    text-align: center;
    background-color: rgb(168, 156, 156);
    width: 20%;
    margin: 10px 50px;
    display: inline-block;
    
}
.foot{
    height: 100px;
    border: solid black;
    text-align: center;
    background-color: rgb(75, 71, 71);
    color: aliceblue;
    font-size: 30PX;
    width: 95%;
    margin: 0 30px;
}