div{
    height: 400px;
    width: 70%;
    background-color: blueviolet;
    display: flex;
   justify-content: center;
   align-items: center;
    
    
    
    
}
h1{
    margin: 10px;
    padding: 40px;
    background-color: brown;
    color: aliceblue;

}
.box1{
    height: 100px;
    width: 30%;
    background-color: rgb(20, 9, 13);
}