.div1{
    height: 500px;
    width: 70%;
    border: solid black 5px;
}
.head{
    height: 100px;
    width: 100%;
    border-bottom: solid black;
    text-align: center;
    background-color: rgb(255, 192, 241);
}
.navi{
    height: 50px;
    width: 100%;
    border-bottom: solid black;
    text-align: center;
    background-color: rgb(192, 43, 219);
    
}
.main{ height: 270px;
    width: 100%;
    border-bottom: solid black;
    text-align: center;
    

}
.foot{height: 70px;
    width: 100%;
    border-bottom: solid black;
    text-align: center;
    background-color: rgb(206, 116, 222);

}
