.box{
    height: 300px;
    width: 50%;
    /* border: solid; */
    margin: 90px;
    border-radius: 0 100px;
    position: relative;
    overflow: hidden;
    background-color: red;
}
.circle1{
    height: 100px;
    width: 100px;
    /* border: solid; */
    border-radius: 50%;
    position: absolute;
    right: 270px;
    bottom: 250px;
    background-color: white;
    
    
}
.circle2{
    height: 100px;
    width: 100px;
    /* border: solid; */
    border-radius: 50%;
    position: absolute;
   left: 250px;
   background-color: white;
   top: 250px;
}
.square1{
    height: 70px;
    width: 70px;
    /* border: solid; */
    position: absolute;
    top: 100px;
    right: 285px;
    transform: rotate(45deg);
    background-color: white;
}
.square2{
    height: 70px;
    width: 70px;
    /* border: solid; */
    position: absolute;
    transform: rotate(45deg);
    right: -38px;
    top: 105px;
    background-color: white;
}
.square3{
    height: 70px;
    width: 70px;
    /* border: solid; */
    position: absolute;
    transform: rotate(45deg);
    left: 120px;
    bottom: 265px;
    background-color: white;
    
}
.circle3{
    height: 100px;
    width: 100px;
    /* border: solid; */
    border-radius: 50%;
    top: 250px;
    position: absolute;
    right: 120px;
    background-color: white;
}
.box{
    animation: rotate 5s infinite;
}
@keyframes rotate {
    /* 0% {transform: rotate(60deg);}
    50%{transform: roate(120deg);}
    100%{transform: roate(360deg);} */
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%   {background-color: rgb(97, 47, 177);transform: rotate(360deg);}
    100% {background-color: green;}

}